<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Gym</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">
  </head>
  <body>


    <nav class="navbar navbar-default ">
      <div class="container-fluid">
        <div class="navbar-header ">
          <a class="navbar-brand text-center nav-bar-title" href="#">Sport Tracker: Enter data</a>
        </div>
      </div>
    </nav>
    <div class="container-fluid">

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 text-center" >
          <h2>Shoulders</h2>
        </div>
      </div>
      <form action="/postdata" method="post">
        <input name="category" value="shoulders" class="hide">
      <div class="row mt-10">
        <div class="col-sm-12 text-center form-group">
          <label for="sel1">Select exercise</label>
     <select class="form-control" id="sel1" name="exercise">
       <option>Dumbell shoulder press</option>
       <option>Upright barbell row</option>
       <option>Front Cable Raise</option>
     </select>
        </div>
      </div>
      <div class="row mt-10">
        <div class="col-sm-12 text-center">
            <label for="set1" class="">Set 1</label>
            <input type="number" class="form-control" name="set1" value="0">
        </div>
      </div>
      <div class="row mt-10">
        <div class="col-sm-12 text-center">
            <label for="set2" class="">Set 2</label>
            <input type="number" class="form-control" name="set2" value="0">

        </div>
      </div>
      <div class="row mt-10">
        <div class="col-sm-12 text-center">
            <label for="set3" class="">Set 3</label>
            <input type="number" class="form-control" name="set3" value="0">
        </div>
      </div>
      <div class="row mt-10">
        <div class="col-sm-12 text-center">
            <button type="submit" class="btn-primary menuButton">Confirm</button>
        </div>
      </div>
      </form>
      <br><br>
      <div class="row mt-10">
        <div class="col-sm-12 text-center">
          <form action="categories.html">
            <button type="submit" class="btn-primary menuButton">Go Back</button>
          </form>
        </div>
      </div>
    </div>

    <footer class="footer">
      <p class="text-muted text-center mt-5">By M. Mylle</p>
    </footer>
</div>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
